
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
html, body {
    height: 100%;
}
body{
    background-color: var(--light-gray);
    margin: 0;

}
body, .container, .qr-container, .content{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}
.shadow{
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.container{
    background: var(--white);
    width: fit-content;
    flex-direction: column;
    margin: auto;
    max-height: 498px;
    max-width: 324px;
    border-radius: 16px;

}

.qr-container img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 16px;
    margin: 16px;
}

.content-heading{
    font-weight: 700;
    margin: 0px auto;
    max-width: 70%;
    text-align: center;
}

.content-body{
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
    margin: 0 16px 32px;
    text-align: center;
    max-width: 68%;

}